[Unit]
Description=CloudPanel Addons - Periodic Template Reconciliation Timer

[Timer]
OnBootSec=2min
OnUnitActiveSec=15min
Persistent=true

[Install]
WantedBy=timers.target
